**/node_modules
**/build
**/*.tsbuildinfo
**/*.log*
**/logs
**/logs-*
**/dist
**/dev-*
**/.env.dev-docker
**/.git
**/.vscode
**/.DS_Store
**/*.map
**/**.d.ts
**/.lock-wscript
**/.npm
**/.node_repl_history
**/*.tgz
**/.yarn-integrity
**/.env
**/*.js.map
**/typings
